//** CSSColorIt | MIT License | github.com/fil0157/CSSColorIt **//

  //**********************//
 //** indigo color HEX **//
//**********************//

$base: (
    "darken-4": #0d0033,
    "darken-3": #1a0066,
    "darken-2": #260099,
    "darken-1": #3300cc,
    "base": #4000ff,
    "lighten-1": #6633ff,
    "lighten-2": #8c66ff,
    "lighten-3": #b399ff,
    "lighten-4": #d9ccff,
);


$seturation-1: (
    "darken-4": #0e0330,
    "darken-3": #1c0561,
    "darken-2": #2a0891,
    "darken-1": #380ac2,
    "base": #460df2,
    "lighten-1": #6b3df5,
    "lighten-2": #906ef7,
    "lighten-3": #b59efa,
    "lighten-4": #dacffc,
);


$seturation-2: (
    "darken-4": #0f052e,
    "darken-3": #1f0a5c,
    "darken-2": #2e0f8a,
    "darken-1": #3d14b8,
    "base": #4d19e6,
    "lighten-1": #7047eb,
    "lighten-2": #9475f0,
    "lighten-3": #b8a3f5,
    "lighten-4": #dbd1fa,
);


$seturation-3: (
    "darken-4": #11082b,
    "darken-3": #210f57,
    "darken-2": #321782,
    "darken-1": #421fad,
    "base": #5326d9,
    "lighten-1": #7552e0,
    "lighten-2": #987de8,
    "lighten-3": #baa8f0,
    "lighten-4": #ddd4f7,
);


$seturation-4: (
    "darken-4": #120a29,
    "darken-3": #241452,
    "darken-2": #361f7a,
    "darken-1": #4729a3,
    "base": #5933cc,
    "lighten-1": #7a5cd6,
    "lighten-2": #9c85e0,
    "lighten-3": #bdadeb,
    "lighten-4": #ded6f5,
);


$seturation-5: (
    "darken-4": #130d26,
    "darken-3": #26194d,
    "darken-2": #392673,
    "darken-1": #4d3399,
    "base": #6040bf,
    "lighten-1": #7f66cc,
    "lighten-2": #9f8cd9,
    "lighten-3": #bfb3e6,
    "lighten-4": #dfd9f2,
);


$seturation-6: (
    "darken-4": #140f24,
    "darken-3": #291f47,
    "darken-2": #3d2e6b,
    "darken-1": #523d8f,
    "base": #664db3,
    "lighten-1": #8570c2,
    "lighten-2": #a394d1,
    "lighten-3": #c2b8e0,
    "lighten-4": #e0dbf0,
);


$seturation-7: (
    "darken-4": #161221,
    "darken-3": #2b2442,
    "darken-2": #413663,
    "darken-1": #574785,
    "base": #6c59a6,
    "lighten-1": #8a7ab8,
    "lighten-2": #a79cc9,
    "lighten-3": #c4bddb,
    "lighten-4": #e2deed,
);


$seturation-8: (
    "darken-4": #17141f,
    "darken-3": #2e293d,
    "darken-2": #453d5c,
    "darken-1": #5c527a,
    "base": #736699,
    "lighten-1": #8f85ad,
    "lighten-2": #aba3c2,
    "lighten-3": #c7c2d6,
    "lighten-4": #e3e0eb,
);


$seturation-9: (
    "darken-4": #18171c,
    "darken-3": #302e38,
    "darken-2": #494554,
    "darken-1": #615c70,
    "base": #79738c,
    "lighten-1": #948fa3,
    "lighten-2": #afabba,
    "lighten-3": #c9c7d1,
    "lighten-4": #e4e3e8,
);


$indigo: (
    "base": $base,
    "seturation-1": $seturation-1,
    "seturation-2": $seturation-2,
    "seturation-3": $seturation-3,
    "seturation-4": $seturation-4,
    "seturation-5": $seturation-5,
    "seturation-6": $seturation-6,
    "seturation-7": $seturation-7,
    "seturation-8": $seturation-8,
    "seturation-9": $seturation-9,
);