$base: (
    "darken-4": #1a3300,
    "darken-3": #336600,
    "darken-2": #4d9900,
    "darken-1": #66cc00,
    "base": #80ff00,
    "lighten-1": #99ff33,
    "lighten-2": #b3ff66,
    "lighten-3": #ccff99,
    "lighten-4": #e6ffcc,
);


$seturation-1: (
    "darken-4": #1a3003,
    "darken-3": #336105,
    "darken-2": #4d9108,
    "darken-1": #66c20a,
    "base": #80f20d,
    "lighten-1": #99f53d,
    "lighten-2": #b3f76e,
    "lighten-3": #ccfa9e,
    "lighten-4": #e6fccf,
);


$seturation-2: (
    "darken-4": #1a2e05,
    "darken-3": #335c0a,
    "darken-2": #4d8a0f,
    "darken-1": #66b814,
    "base": #80e619,
    "lighten-1": #99eb47,
    "lighten-2": #b3f075,
    "lighten-3": #ccf5a3,
    "lighten-4": #e6fad1,
);


$seturation-3: (
    "darken-4": #1a2b08,
    "darken-3": #33570f,
    "darken-2": #4d8217,
    "darken-1": #66ad1f,
    "base": #80d926,
    "lighten-1": #99e052,
    "lighten-2": #b3e87d,
    "lighten-3": #ccf0a8,
    "lighten-4": #e6f7d4,
);


$seturation-4: (
    "darken-4": #1a290a,
    "darken-3": #335214,
    "darken-2": #4d7a1f,
    "darken-1": #66a329,
    "base": #80cc33,
    "lighten-1": #99d65c,
    "lighten-2": #b3e085,
    "lighten-3": #ccebad,
    "lighten-4": #e6f5d6,
);


$seturation-5: (
    "darken-4": #1a260d,
    "darken-3": #334d19,
    "darken-2": #4d7326,
    "darken-1": #669933,
    "base": #80bf40,
    "lighten-1": #99cc66,
    "lighten-2": #b3d98c,
    "lighten-3": #cce6b3,
    "lighten-4": #e6f2d9,
);


$seturation-6: (
    "darken-4": #1a240f,
    "darken-3": #33471f,
    "darken-2": #4d6b2e,
    "darken-1": #668f3d,
    "base": #80b34d,
    "lighten-1": #99c270,
    "lighten-2": #b3d194,
    "lighten-3": #cce0b8,
    "lighten-4": #e6f0db,
);


$seturation-7: (
    "darken-4": #1a2112,
    "darken-3": #334224,
    "darken-2": #4d6336,
    "darken-1": #668547,
    "base": #80a659,
    "lighten-1": #99b87a,
    "lighten-2": #b3c99c,
    "lighten-3": #ccdbbd,
    "lighten-4": #e6edde,
);


$seturation-8: (
    "darken-4": #1a1f14,
    "darken-3": #333d29,
    "darken-2": #4d5c3d,
    "darken-1": #667a52,
    "base": #809966,
    "lighten-1": #99ad85,
    "lighten-2": #b3c2a3,
    "lighten-3": #ccd6c2,
    "lighten-4": #e6ebe0,
);


$seturation-9: (
    "darken-4": #1a1c17,
    "darken-3": #33382e,
    "darken-2": #4d5445,
    "darken-1": #66705c,
    "base": #808c73,
    "lighten-1": #99a38f,
    "lighten-2": #b3baab,
    "lighten-3": #ccd1c7,
    "lighten-4": #e6e8e3,
);


$lime: (
    "base": $base,
    "seturation-1": $seturation-1,
    "seturation-2": $seturation-2,
    "seturation-3": $seturation-3,
    "seturation-4": $seturation-4,
    "seturation-5": $seturation-5,
    "seturation-6": $seturation-6,
    "seturation-7": $seturation-7,
    "seturation-8": $seturation-8,
    "seturation-9": $seturation-9,
);