//** CSSColorIt | MIT License | github.com/fil0157/CSSColorIt **//

  //**********************//
 //** orange color HEX **//
//**********************//

$base: (
    "darken-4": #331a00,
    "darken-3": #663300,
    "darken-2": #994d00,
    "darken-1": #cc6600,
    "base": #ff8000,
    "lighten-1": #ff9933,
    "lighten-2": #ffb366,
    "lighten-3": #ffcc99,
    "lighten-4": #ffe6cc,
);


$seturation-1: (
    "darken-4": #301a03,
    "darken-3": #613305,
    "darken-2": #914d08,
    "darken-1": #c2660a,
    "base": #f2800d,
    "lighten-1": #f5993d,
    "lighten-2": #f7b36e,
    "lighten-3": #facc9e,
    "lighten-4": #fce6cf,
);


$seturation-2: (
    "darken-4": #2e1a05,
    "darken-3": #5c330a,
    "darken-2": #8a4d0f,
    "darken-1": #b86614,
    "base": #e68019,
    "lighten-1": #eb9947,
    "lighten-2": #f0b375,
    "lighten-3": #f5cca3,
    "lighten-4": #fae6d1,
);


$seturation-3: (
    "darken-4": #2b1a08,
    "darken-3": #57330f,
    "darken-2": #824d17,
    "darken-1": #ad661f,
    "base": #d98026,
    "lighten-1": #e09952,
    "lighten-2": #e8b37d,
    "lighten-3": #f0cca8,
    "lighten-4": #f7e6d4,
);


$seturation-4: (
    "darken-4": #291a0a,
    "darken-3": #523314,
    "darken-2": #7a4d1f,
    "darken-1": #a36629,
    "base": #cc8033,
    "lighten-1": #d6995c,
    "lighten-2": #e0b385,
    "lighten-3": #ebccad,
    "lighten-4": #f5e6d6,
);


$seturation-5: (
    "darken-4": #261a0d,
    "darken-3": #4d3319,
    "darken-2": #734d26,
    "darken-1": #996633,
    "base": #bf8040,
    "lighten-1": #cc9966,
    "lighten-2": #d9b38c,
    "lighten-3": #e6ccb3,
    "lighten-4": #f2e6d9,
);


$seturation-6: (
    "darken-4": #241a0f,
    "darken-3": #47331f,
    "darken-2": #6b4d2e,
    "darken-1": #8f663d,
    "base": #b3804d,
    "lighten-1": #c29970,
    "lighten-2": #d1b394,
    "lighten-3": #e0ccb8,
    "lighten-4": #f0e6db,
);


$seturation-7: (
    "darken-4": #211a12,
    "darken-3": #423324,
    "darken-2": #634d36,
    "darken-1": #856647,
    "base": #a68059,
    "lighten-1": #b8997a,
    "lighten-2": #c9b39c,
    "lighten-3": #dbccbd,
    "lighten-4": #ede6de,
);


$seturation-8: (
    "darken-4": #1f1a14,
    "darken-3": #3d3329,
    "darken-2": #5c4d3d,
    "darken-1": #7a6652,
    "base": #998066,
    "lighten-1": #ad9985,
    "lighten-2": #c2b3a3,
    "lighten-3": #d6ccc2,
    "lighten-4": #ebe6e0,
);


$seturation-9: (
    "darken-4": #1c1a17,
    "darken-3": #38332e,
    "darken-2": #544d45,
    "darken-1": #70665c,
    "base": #8c8073,
    "lighten-1": #a3998f,
    "lighten-2": #bab3ab,
    "lighten-3": #d1ccc7,
    "lighten-4": #e8e6e3,
);


$orange: (
    "base": $base,
    "seturation-1": $seturation-1,
    "seturation-2": $seturation-2,
    "seturation-3": $seturation-3,
    "seturation-4": $seturation-4,
    "seturation-5": $seturation-5,
    "seturation-6": $seturation-6,
    "seturation-7": $seturation-7,
    "seturation-8": $seturation-8,
    "seturation-9": $seturation-9,
);