//** CSSColorIt | MIT License | github.com/fil0157/CSSColorIt **//

  //********************//
 //** pear color HEX **//
//********************//

$base: (
    "darken-4": #263300,
    "darken-3": #4d6600,
    "darken-2": #739900,
    "darken-1": #99cc00,
    "base": #bfff00,
    "lighten-1": #ccff33,
    "lighten-2": #d9ff66,
    "lighten-3": #e6ff99,
    "lighten-4": #f2ffcc,
);


$seturation-1: (
    "darken-4": #253003,
    "darken-3": #4a6105,
    "darken-2": #6f9108,
    "darken-1": #94c20a,
    "base": #b9f20d,
    "lighten-1": #c7f53d,
    "lighten-2": #d5f76e,
    "lighten-3": #e3fa9e,
    "lighten-4": #f1fccf,
);


$seturation-2: (
    "darken-4": #242e05,
    "darken-3": #475c0a,
    "darken-2": #6b8a0f,
    "darken-1": #8fb814,
    "base": #b3e619,
    "lighten-1": #c2eb47,
    "lighten-2": #d1f075,
    "lighten-3": #e0f5a3,
    "lighten-4": #f0fad1,
);


$seturation-3: (
    "darken-4": #222b08,
    "darken-3": #45570f,
    "darken-2": #678217,
    "darken-1": #8aad1f,
    "base": #acd926,
    "lighten-1": #bde052,
    "lighten-2": #cde87d,
    "lighten-3": #def0a8,
    "lighten-4": #eef7d4,
);


$seturation-4: (
    "darken-4": #21290a,
    "darken-3": #425214,
    "darken-2": #637a1f,
    "darken-1": #85a329,
    "base": #a6cc33,
    "lighten-1": #b8d65c,
    "lighten-2": #c9e085,
    "lighten-3": #dbebad,
    "lighten-4": #edf5d6,
);


$seturation-5: (
    "darken-4": #20260d,
    "darken-3": #404d19,
    "darken-2": #607326,
    "darken-1": #809933,
    "base": #9fbf40,
    "lighten-1": #b3cc66,
    "lighten-2": #c6d98c,
    "lighten-3": #d9e6b3,
    "lighten-4": #ecf2d9,
);


$seturation-6: (
    "darken-4": #1f240f,
    "darken-3": #3d471f,
    "darken-2": #5c6b2e,
    "darken-1": #7a8f3d,
    "base": #99b34d,
    "lighten-1": #adc270,
    "lighten-2": #c2d194,
    "lighten-3": #d6e0b8,
    "lighten-4": #ebf0db,
);


$seturation-7: (
    "darken-4": #1d2112,
    "darken-3": #3b4224,
    "darken-2": #586336,
    "darken-1": #758547,
    "base": #93a659,
    "lighten-1": #a8b87a,
    "lighten-2": #bec99c,
    "lighten-3": #d4dbbd,
    "lighten-4": #e9edde,
);


$seturation-8: (
    "darken-4": #1c1f14,
    "darken-3": #383d29,
    "darken-2": #545c3d,
    "darken-1": #707a52,
    "base": #8c9966,
    "lighten-1": #a3ad85,
    "lighten-2": #bac2a3,
    "lighten-3": #d1d6c2,
    "lighten-4": #e8ebe0,
);


$seturation-9: (
    "darken-4": #1b1c17,
    "darken-3": #36382e,
    "darken-2": #505445,
    "darken-1": #6b705c,
    "base": #868c73,
    "lighten-1": #9ea38f,
    "lighten-2": #b6baab,
    "lighten-3": #cfd1c7,
    "lighten-4": #e7e8e3,
);


$pear: (
    "base": $base,
    "seturation-1": $seturation-1,
    "seturation-2": $seturation-2,
    "seturation-3": $seturation-3,
    "seturation-4": $seturation-4,
    "seturation-5": $seturation-5,
    "seturation-6": $seturation-6,
    "seturation-7": $seturation-7,
    "seturation-8": $seturation-8,
    "seturation-9": $seturation-9,
);