//** CSSColorIt | MIT License | github.com/fil0157/CSSColorIt **//

  //********************//
 //** pink color HEX **//
//********************//

$base: (
    "darken-4": #33000d,
    "darken-3": #66001a,
    "darken-2": #990026,
    "darken-1": #cc0033,
    "base": #ff0040,
    "lighten-1": #ff3366,
    "lighten-2": #ff668c,
    "lighten-3": #ff99b3,
    "lighten-4": #ffccd9,
);


$seturation-1: (
    "darken-4": #30030e,
    "darken-3": #61051c,
    "darken-2": #91082a,
    "darken-1": #c20a38,
    "base": #f20d46,
    "lighten-1": #f53d6b,
    "lighten-2": #f76e90,
    "lighten-3": #fa9eb5,
    "lighten-4": #fccfda,
);


$seturation-2: (
    "darken-4": #2e050f,
    "darken-3": #5c0a1f,
    "darken-2": #8a0f2e,
    "darken-1": #b8143d,
    "base": #e6194d,
    "lighten-1": #eb4770,
    "lighten-2": #f07594,
    "lighten-3": #f5a3b8,
    "lighten-4": #fad1db,
);


$seturation-3: (
    "darken-4": #2b0811,
    "darken-3": #570f21,
    "darken-2": #821732,
    "darken-1": #ad1f42,
    "base": #d92653,
    "lighten-1": #e05275,
    "lighten-2": #e87d98,
    "lighten-3": #f0a8ba,
    "lighten-4": #f7d4dd,
);


$seturation-4: (
    "darken-4": #290a12,
    "darken-3": #521424,
    "darken-2": #7a1f36,
    "darken-1": #a32947,
    "base": #cc3359,
    "lighten-1": #d65c7a,
    "lighten-2": #e0859c,
    "lighten-3": #ebadbd,
    "lighten-4": #f5d6de,
);


$seturation-5: (
    "darken-4": #260d13,
    "darken-3": #4d1926,
    "darken-2": #732639,
    "darken-1": #99334d,
    "base": #bf4060,
    "lighten-1": #cc667f,
    "lighten-2": #d98c9f,
    "lighten-3": #e6b3bf,
    "lighten-4": #f2d9df,
);


$seturation-6: (
    "darken-4": #240f14,
    "darken-3": #471f29,
    "darken-2": #6b2e3d,
    "darken-1": #8f3d52,
    "base": #b34d66,
    "lighten-1": #c27085,
    "lighten-2": #d194a3,
    "lighten-3": #e0b8c2,
    "lighten-4": #f0dbe0,
);


$seturation-7: (
    "darken-4": #211216,
    "darken-3": #42242b,
    "darken-2": #633641,
    "darken-1": #854757,
    "base": #a6596c,
    "lighten-1": #b87a8a,
    "lighten-2": #c99ca7,
    "lighten-3": #dbbdc4,
    "lighten-4": #eddee2,
);


$seturation-8: (
    "darken-4": #1f1417,
    "darken-3": #3d292e,
    "darken-2": #5c3d45,
    "darken-1": #7a525c,
    "base": #996673,
    "lighten-1": #ad858f,
    "lighten-2": #c2a3ab,
    "lighten-3": #d6c2c7,
    "lighten-4": #ebe0e3,
);


$seturation-9: (
    "darken-4": #1c1718,
    "darken-3": #382e30,
    "darken-2": #544549,
    "darken-1": #705c61,
    "base": #8c7379,
    "lighten-1": #a38f94,
    "lighten-2": #baabaf,
    "lighten-3": #d1c7c9,
    "lighten-4": #e8e3e4,
);


$pink: (
    "base": $base,
    "seturation-1": $seturation-1,
    "seturation-2": $seturation-2,
    "seturation-3": $seturation-3,
    "seturation-4": $seturation-4,
    "seturation-5": $seturation-5,
    "seturation-6": $seturation-6,
    "seturation-7": $seturation-7,
    "seturation-8": $seturation-8,
    "seturation-9": $seturation-9,
);