
  //**********************//
 //** purple color HEX **//
//**********************//

$base: (
    "darken-4": #260033,
    "darken-3": #4d0066,
    "darken-2": #730099,
    "darken-1": #9900cc,
    "base": #bf00ff,
    "lighten-1": #cc33ff,
    "lighten-2": #d966ff,
    "lighten-3": #e699ff,
    "lighten-4": #f2ccff,
);


$seturation-1: (
    "darken-4": #250330,
    "darken-3": #4a0561,
    "darken-2": #6f0891,
    "darken-1": #940ac2,
    "base": #b90df2,
    "lighten-1": #c73df5,
    "lighten-2": #d56ef7,
    "lighten-3": #e39efa,
    "lighten-4": #f1cffc,
);


$seturation-2: (
    "darken-4": #24052e,
    "darken-3": #470a5c,
    "darken-2": #6b0f8a,
    "darken-1": #8f14b8,
    "base": #b319e6,
    "lighten-1": #c247eb,
    "lighten-2": #d175f0,
    "lighten-3": #e0a3f5,
    "lighten-4": #f0d1fa,
);


$seturation-3: (
    "darken-4": #22082b,
    "darken-3": #450f57,
    "darken-2": #671782,
    "darken-1": #8a1fad,
    "base": #ac26d9,
    "lighten-1": #bd52e0,
    "lighten-2": #cd7de8,
    "lighten-3": #dea8f0,
    "lighten-4": #eed4f7,
);


$seturation-4: (
    "darken-4": #210a29,
    "darken-3": #421452,
    "darken-2": #631f7a,
    "darken-1": #8529a3,
    "base": #a633cc,
    "lighten-1": #b85cd6,
    "lighten-2": #c985e0,
    "lighten-3": #dbadeb,
    "lighten-4": #edd6f5,
);


$seturation-5: (
    "darken-4": #200d26,
    "darken-3": #40194d,
    "darken-2": #602673,
    "darken-1": #803399,
    "base": #9f40bf,
    "lighten-1": #b366cc,
    "lighten-2": #c68cd9,
    "lighten-3": #d9b3e6,
    "lighten-4": #ecd9f2,
);


$seturation-6: (
    "darken-4": #1f0f24,
    "darken-3": #3d1f47,
    "darken-2": #5c2e6b,
    "darken-1": #7a3d8f,
    "base": #994db3,
    "lighten-1": #ad70c2,
    "lighten-2": #c294d1,
    "lighten-3": #d6b8e0,
    "lighten-4": #ebdbf0,
);


$seturation-7: (
    "darken-4": #1d1221,
    "darken-3": #3b2442,
    "darken-2": #583663,
    "darken-1": #754785,
    "base": #9359a6,
    "lighten-1": #a87ab8,
    "lighten-2": #be9cc9,
    "lighten-3": #d4bddb,
    "lighten-4": #e9deed,
);


$seturation-8: (
    "darken-4": #1c141f,
    "darken-3": #38293d,
    "darken-2": #543d5c,
    "darken-1": #70527a,
    "base": #8c6699,
    "lighten-1": #a385ad,
    "lighten-2": #baa3c2,
    "lighten-3": #d1c2d6,
    "lighten-4": #e8e0eb,
);


$seturation-9: (
    "darken-4": #1b171c,
    "darken-3": #362e38,
    "darken-2": #504554,
    "darken-1": #6b5c70,
    "base": #86738c,
    "lighten-1": #9e8fa3,
    "lighten-2": #b6abba,
    "lighten-3": #cfc7d1,
    "lighten-4": #e7e3e8,
);


$purple: (
    "base": $base,
    "seturation-1": $seturation-1,
    "seturation-2": $seturation-2,
    "seturation-3": $seturation-3,
    "seturation-4": $seturation-4,
    "seturation-5": $seturation-5,
    "seturation-6": $seturation-6,
    "seturation-7": $seturation-7,
    "seturation-8": $seturation-8,
    "seturation-9": $seturation-9,
);